---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";
img .alignleft{float:left;}
img .alignright{float:right;}
img .aligncenter{
  display:block;
  margin:0 auto;
}
